.m-btn {
    display: flex;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: 'GoogleSans-Regular';
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    border: none;
    outline: none;
    cursor:pointer;
}
.m-btn .btn-text{
    margin-left:8px;
}
.m-btn .icon-add{
    background-position:center;
}
    .m-btn:hover {
        background-color: #2FBE8E;
    }
.m-btn-refresh {
    background-image: url('../../content/icon/refresh.png');
    background-repeat:no-repeat;
    height:40px;
    background-position:center;
}
.m-second-button{
    
    border-radius:4px;
    height:40px;
    background-color:#ffffff;
    padding-left:24px;
    padding-right:24px;
    text-align:center;
    border:1px solid #bbbbbb;
    outline:none;
    cursor:pointer;
}
.m-second-button:hover{
    background-color:#e9ebee;
}