.content {
    height: calc(100vh - 61px);
    width: calc(100% - 221px);
    background-color: #ffffff;
    position: absolute;
    left: 221px;
    top: 61px;
    
}
    /*page-title*/
    .content .header-content {
        
        display: flex;
        align-items: center;
        padding-top:16px;
        padding-left:16px;
    }

        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }

        .content .header-content .page-future {
            position: absolute;
            right: 16px;
        }

    .content .paing-bar {
        width: 100%;
        height: 56px;
        position: sticky;
        bottom: 0px;
        display: flex;
        align-items: center;
    }

        

        .content .paing-bar .paging-record-option {
            margin-left: auto;
        }

        .content .paing-bar .paging-option {
            margin-left: auto;
            display:flex;
        }
.btn-select-page{
   text-align:center;
  
}
.btn-select-page i{
    margin-top:8px;
}