.grid {
    
    width: 100%;
    height: 200px;
    overflow:scroll;
}
table th, td {
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    max-width:50px;
    cursor:pointer;
}
table tr:hover{
    background-color:ghostwhite;
}
table th{
    position:sticky;
    z-index:5;
    top:0;
    background-color:white;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #E9EBEE;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #BBBBBB;
    }