input{
    padding:10px 16px;
    border-radius:4px;
    border:1px solid #bbbbbb;
    outline:none;
}
    input:focus {
        border: 1px solid #019160;
       
    }
        input:focus::-webkit-input-placeholder {
            color: transparent;
        }
        input:focus::-moz-placeholder {
            color: transparent;
        }


    .input-search {
        padding-left: 40px;
    }
